<h1>Create Post</h1>
<form action="/create" method ="Post">
    <input type="text" name="title" placeholder="Title" required>
    <br><br>
    <textarea name="content" placeholder="Content" required></textarea>
    <br><br>
    <button type="submit">Create</button>
</form>

<a href="/">Back to Home</a>
